﻿* {
    box-sizing: border-box;
    margin: 0;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: Consolas, monospace;
}

h1, h2, h3, p {
    margin-bottom: 10px;
}

a, a:visited {
    color: red;
    text-decoration: none;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    height: 30px;
    font-size: 15px;
}

input {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    font-size: 15px;
}

.root {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

.controls {
    padding: 0 10px;
    overflow-y: auto;
    background: black;
    border-right: 1px solid white;
    z-index: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin: 20px 0;
}

.header > * {
    margin: 0;
}

.about {
    width: 30px;
}

.mazeRoot {
    position: relative;
    cursor: move;
}

.animate {
    transition: all 0.5s ease;
}

.maze {
    overflow: hidden;
    position: relative;
    border: 1px solid white;
    box-sizing: content-box;
}

.cell {
    transition: inherit;
    border: 1px solid white;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
}

.n {
    border-top: 0px;
}

.s {
    border-bottom: 0px;
}

.w {
    border-left: 0px;
}

.e {
    border-right: 0px;
}

.aboutBox {
    height: 50%;
    width: 50%;
    background-color: black;
    z-index: 2;
    border: 1px solid white;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 10px;
}

.aboutBox button {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.compassContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.compass {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50px;
}

.needleNorth {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 40px solid red;
    width: 0px;
    left: 45px;
    top: 10px;
    position: absolute;
}

.needleSouth {
    position: absolute;
    left: 45px;
    top: 50px;
    border-top: 40px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
}

.northIndicator {
    position: absolute;
    left: 45%;
    top: 0;
}

.error {
    height: 30px;
    background-color: red;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
}

.confirmation {
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.confirmation button {
    width: 45%;
    display: inline-block;
    margin-bottom: 10px;
}