﻿@page "/"
@page "/BlazeMaze"

<div class="root" onmouseup="@(() => animate = true)">
    <div class="controls">
        <div class="header">
            <h1>Blaze Maze</h1>
            <button class="about" onclick="@(() => showAbout = true)">?</button>
        </div>
        <h2>Parameters</h2>
        <label>Width</label>
        <input bind="mazeWidth" />
        <label>Height</label>
        <input bind="mazeHeight" />
        @if(isError)
        {
            <div class="error">Something went wrong</div>
        }
        @if(requreConfirmation)
        {
            <div class="confirmation">
                <p>That's quite a size and might break. Proceed?</p>
                <button onclick="@Generate">✓</button>
                <button onclick="@(() => requreConfirmation = false)">✕</button>
            </div>
        }
        <button onclick="@TryGenerate">Generate</button>
        <h2>Display</h2>
        <label>Cell size</label>
        <input bind="cellSize" />
        <label>RotateX (pitch)</label>
        <input bind="rotateX" />
        <label>RotateZ (roll)</label>
        <input bind="rotateZ" />
        <label>TranslateX</label>
        <input bind="translateX" />
        <label>TranslateY</label>
        <input bind="translateY" />
        <button onclick="@Reset">Reset</button>
    </div>
    <div class="mazeRoot" onmousemove="@MouseMove" onwheel="@Scroll" oncontextmenu="return false" onmousedown="@(() => animate = false)">
        <Compass RotateZ="@rotateZ" RotateX="@rotateX" Animate="@animate"></Compass>
        @if (maze is int[,])
        {
            <div class="maze @(animate ? "animate" : string.Empty)" style="transform: rotateX(@(rotateX)deg) rotateZ(@(rotateZ)deg); height: @(cellSize * height)px; width: @(cellSize * width)px; top: @(translateY)px; left: @(translateX)px;">
                @for (int x = 0; x < width; x++)
                {
                    for (int y = 0; y < height; y++)
                    {
                        <MazeCell PosX="x" PosY="y" CellSize="cellSize" CssClass="@GetClass(maze[x, y])"></MazeCell>
                    }
                }
            </div>
        }
    </div>
</div>
<AboutBox Show="showAbout" Close="@(() => { showAbout = false; StateHasChanged(); })"></AboutBox>

@functions {
    MazeGenerator generator = new MazeGenerator();
    int[,] maze = null;
    int mazeWidth = 10;
    int mazeHeight = 10;

    int width = 10;
    int height = 10;
    double cellSize = 50;
    double translateX = 50;
    double translateY = 50;
    double rotateX = 0;
    double rotateZ = 0;

    long mouseX = 0;
    long mouseY = 0;

    bool animate = true;
    bool showAbout = false;
    bool requreConfirmation = false;
    bool isError = false;

    void TryGenerate()
    {
        if (mazeWidth * mazeHeight <= 600) Generate();
        else requreConfirmation = true;
    }

    void Generate()
    {
        try
        {
            isError = false;
            requreConfirmation = false;
            if (mazeHeight < 2) mazeHeight = 2;
            if (mazeWidth < 2) mazeWidth = 2;
            height = mazeHeight;
            width = mazeWidth;
            maze = generator.Generate(width, height);
        }
        catch { isError = true; }
    }

    void Reset()
    {
        translateX = translateY = cellSize = 50;
        rotateX = rotateZ = 0;
    }

    void MouseMove(UIMouseEventArgs e)
    {
        if (e.Buttons == 1)
        {
            translateX += (e.ClientX - mouseX) / 1.5;
            translateY += (e.ClientY - mouseY) / 1.5;
        }

        if (e.Buttons == 2)
        {
            rotateX += (e.ClientY - mouseY) / 4;
            rotateZ += (e.ClientX - mouseX) / 4;
            rotateX %= 360;
            rotateZ %= 360;
        }

        mouseX = e.ClientX;
        mouseY = e.ClientY;
    }

    void Scroll(UIWheelEventArgs e)
    {
        if (e.DeltaY < 0) cellSize++;
        else cellSize--;
        if (cellSize < 1) cellSize = 1;
    }

    string GetClass(int walls) => string.Join(string.Empty, new string[] {
        "cell",
        (walls & MazeGenerator.N) == 0 ? string.Empty : " n",
        (walls & MazeGenerator.E) == 0 ? string.Empty : " e",
        (walls & MazeGenerator.S) == 0 ? string.Empty : " s",
        (walls & MazeGenerator.W) == 0 ? string.Empty : " w",
    });
}
